%p
  #{@text['intro']}

%p
  %b
    #{@text['confidence']}. 
  #{@text['confidence_paragraph']}
%p
  %b
    #{@text['consistency']}.
  #{@text['consistency_paragraph']}
%p
  %b
    #{@text['communication']}. 
  #{@text['communication_paragraph']}
%p
  %b
    #{@text['professionalism']}. 
  #{@text['professionalism_paragraph']}
%p
  %b
    #{@text['positioning']}.
  #{@text['positioning_paragraph']}