%p
  Here are all reviews (viewable only if you're an admin). There'll be other info. Dates are 
  %strong
    mm/dd/yyyy.
  Sorry non-Americans. 
  %br
  %br
  There are 
  %strong
    #{@review_list.size}
  total reviews with comments. 
  %hr

%p
  %a.more{href: "#"}
    Extra info

%p
  %a.less.mode{href: "#"}
    Less info

.table-box
  %table#theTable
    %thead
      %tr
        %td
          Submit Date
        %td
          Reviewer Name
        %td.small
          Team Captain?
        %td
          Ref Region
        %td.light
          Ref Name
        %td
          Ref Position
        %td.small
          Team
        %td.small
          Opponent
        %td
          Rating
        %td
          Comments
        %td{title: "Display to that referee?"}
          Display?
        %td
          Link
        
    %tbody
      - @review_list.each do |r|
        %tr
          %td
            #{r['created']}
          %td
            %a{href: "mailto:#{r['reviewerEmail']}"}
              #{r['reviewerName']}
          %td.small
            #{r['isCaptain']}
          %td
            #{r['region']}
          - if r['rid'] == session[:user]['objectId']
            %td.name.mine
              #{r['refName']}
          - else
            %td.name.ref-name
              #{r['refName']}
          %td
            #{r['type']}
          %td.small
            #{r['team']}
          %td.small
            #{r['opponent']}
          %td
            #{r['rating']}
          %td
            #{r['comments']}
          %td
            #{r['show'] ? 'Y' : 'N'}
          %td
            %a{href: "/reviews/#{r['objectId']}"}
              Edit

:coffeescript
  
  $('.small').hide()

  $('.more').click ->
    $('.less').removeClass 'mode'
    $(this).addClass 'mode'
    $('.small').show()

  $('.less').click ->
    $('.more').removeClass 'mode'
    $(this).addClass 'mode'
    $('.small').hide()

  $('#theTable').tablesorter
    ignoreCase: true
    widthFixed: false
    dateFormat: 'mmddyyyy'
    headers:
      0:
        sorter: 'shortDate'
    widgets: ['stickyHeaders']
    sortList: [[0,1]]