%p
  #{@text['reach']}
  #{email_link}

%p
  #{@text['board']}
  %ul.bullets
    %li
      #{@text['director']}, 
      %a{href: "mailto:sequoiasthomas@gmail.com"}
        Sequoia Thomas
    %li
      #{@text['adirector']},
      %a{href: "mailto:chrisstephenhp@gmail.com"}
        Chris Beesley
    %li
      #{@text['treasurer']},
      %a{href: "mailto:lawrence.lazewski@gmail.com"}
        Lawrence Lazewski 
    %li
      #{@text['secretary']},
      %a{href: "mailto:scott.behler.irdp@gmail.com"}
        Scott Behler
    %li
      #{@text['tech']},
      %a{href: "mailto:david@relateiq.com"}
        David Brownman
