%p
  To contact the IQA staff for general queries, see their
  %a{href: 'http://iqaquidditch.org/contact.php'}<
    contact
  page. 

%p
  #{@text['reach']}
  #{email_link}

%p
  #{@text['board']}
  %ul.bullets
    %li
      #{@text['director']}, 
      %a{href: "mailto:panta.gds@gmail.com"}
        Cory Faniel
    %li
      #{@text['tech']},
      %a{href: "mailto:beamneocube@gmail.com"}
        David Brownman
