%p
  #{@text['verify']}

.form_box
  %form{name: "create", action: "/create", method: "post", onsubmit: "return validate();"}
    %label{for: "email"}
      #{@text['email']}
    %input{type: "email", name: "username", placeholder:"email", required: ""}

    %label{for: "password"}
      #{@text['password']}
    %input{type: "password", name: "password", placeholder: "password", required: ""}

    %label{for: "pw2"}
      #{@text['confirm']}
    %input{type: "password", name: "pw2", placeholder: "confirmed password", required: ""}

    %label{for: "fn"}
      #{@text['firstname']}
    %input{type: "text", name: "fn", placeholder: "First Name", id: "fn", required: ""}

    %label{for: "ln"}
      #{@text['lastname']}
    %input{type: "text", name: "ln", placeholder: "Last Name", id: "ln", required: ""}

    %label{for: "team", style: "font-size: 12px;"}
      #{@text['team']}
    %input{type: "text", name: "team", placeholder: "team", id: "team", required: ""}

    %label{for: "region"}
      #{@text['region']}
    %select{name: "region", id: "region", required: ""}

    %label{for: "code"}
      #{@text['code']}
    %input{type: "text", name: "code", placeholder: "XXXX-XX-XXX-XXXXXXX", id: "code"}

    %label{for: "agreement"}
      #{@text['agree']}
      %a{href: "https://docs.google.com/document/d/1ybhTrPbk_H4QqekrrWHgiDBRIlqzLlx2P5Ir43Nt774", target: "_blank"}<
        #{@text['code']}
      #{@text['agree2']}

    %input{type: "checkbox", name: "agreement", id: "agreement", required: ""}

    %input.button{type: "submit", value: "Create User"}

:javascript
  // team should be dropdown too, get team list/region from Pyne
  var region_keys = #{@region_keys};
  var teams = #{@team_list};

  $('#team').autocomplete({source: teams});

  // pop pop!
  // this doesn't actually make sense anymore.
  
  for (var i = 0; i < region_keys.length; i++) {
    var el = document.createElement("option");
    el.textContent = region_keys[i];
    el.value = region_keys[i];
    $("#region").append(el);
  }

  function validate() {
    var f = $("form")[0];

    // check that passwords match
    if (!(f["password"].value == f["pw2"].value)) {
      $(".issue").text("Passwords don't match");
      return false;
    }

    else {
      return true;
    }    

  }