/1
%p
  %strong
    #{@text['q']}:
  %i
    #{@text['q1']}
  %br
  %strong
    #{@text['a']}:
  #{@text['a1']}
/2
%p
  %strong
    #{@text['q']}:
  %i
    #{@text['q2']}
  %br
  %strong
    #{@text['a']}:
  #{@text['a2']}
/3
%p
  %strong
    #{@text['q']}:
  %i
    #{@text['q3']}
  %br
  %strong
    #{@text['a']}:
  #{@text['a3']}
/4
%p
  %strong
    #{@text['q']}:
  %i
    #{@text['q4']}
  %br
  %strong
    #{@text['a']}:
  #{@text['a4']}
  %ul.bullets
    %li
      %p
        %strong
          #{@text['rdt']}
        #{@text['rdt_blurb']}
    %li
      %p
        %strong
          #{@text['rtc']}
        #{@text['rtc_blurb']}
  %p
    #{@text['a4p2']} 
    #{email_link({subject:'Job Application'})} 
    #{@text['a4p3']}
/5
%p
  %strong
    #{@text['q']}:
  %i
    #{@text['q5']}
  %br
  %strong
    #{@text['a']}:
  #{@text['a5']}
  #{email_link({subject: "New IRDP Contract", text: @text['here']})} 
  #{@text['a5p2']}
/6
%p
  %strong
    #{@text['q']}:
  %i
    #{@text['q6']}
  %br
  %strong
    #{@text['a']}:
  #{@text['a6']}
  %a{href: '/pay'}<
    #{@text['pay']}
  #{@text['a6p2']}
/7
%p
  %strong
    #{@text['q']}:
  %i
    #{@text['q7']}
  %br
  %strong
    #{@text['a']}:
  #{@text['a7']}
  #{settings.updated_at.strftime(settings.time_string)} 
  #{local_time(settings.updated_at,@text['updated'])}
  #{@text['a7p2']} 
  %p
    %strong
      #{@text['established']} 
  %ul.bullets
    %li
      %a{href: "http://www.quidditch.org.au/", target: "_blank"}<
        #{@text['aqa']}
      (<a href="https://docs.google.com/document/d/1jHE29t7dzAUuJvKAH4win9cuDAIgHg8uk6kwWyNHcO4/edit" target="_blank">#{@text['contract']}</a>)
    %li
      %a{href: "https://quidditchuk.org/", target: "_blank"}<
        #{@text['quk']}
      (<a href="https://docs.google.com/document/d/1O_iugOK8w0Vui3Cf9XLnqXiTbCtWXIDRLmySZCY3RsI/edit" target="_blank">#{@text['contract']}</a>)
    %li
      %a{href: "http://www.quidditchcanada.com", target: "_blank"}<
        #{@text['canada']}
      (<a href="/files/QuidditchCanadaAgreementSigned.pdf" target="_blank">#{@text['contract']}</a>)
    %li
      %a{href: "http://www.italiaquidditch.com/temp/index.html", target: "_blank"}<
        #{@text['italy']}
      (<a href="https://docs.google.com/document/d/1LFB8QX9EC16WUtgCb4LBZeRnTxZkuiw2SQx3dLHVWgQ/edit?usp=sharing" target="_blank">#{@text['contract']}</a>)
  %p
    %strong
      #{@text['developing']} 
  %ul.bullets
    %li
      %a{href: "#", target: "_blank"}<
        #{@text['norway']}
      (<a href="https://drive.google.com/file/d/131Qj76kArEct0SZQ6TBSx0rlQa7u5cMt34yVCSgUDd150AtZly_ImHzYHJV4/view?usp=sharing" target="_blank">#{@text['contract']}</a>)
    %li
      %a{href: "http://www.quidditch.be/", target: "_blank"}<
        #{@text['belgium']}
      (<a href="https://drive.google.com/file/d/1CX-8d7rj1jbuUX3YfO3M3G3REdyxcaZ255bnA_EMpRAEWveqWr8K920FsPzD/view?usp=sharing" target="_blank">#{@text['contract']}</a>)
    %li
      %a{href: "http://quidditch.nl/home/index.html", target: "_blank"}<
        #{@text['netherlands']}
      (<a href="https://drive.google.com/file/d/1Pd_Jc14jJv_GOHk_letEBRH7hl7J4KQEBeU11DHs9cMFgcPVmo9MS5ctekys/view?usp=sharing" target="_blank">#{@text['contract']}</a>)
    %li
      %a{href: "https://www.facebook.com/PolskaLigaQuidditcha", target: "_blank"}<
        #{@text['poland']}
      (<a href="https://drive.google.com/file/d/1-YDuRClxScaIf-8BkXyDOKB_MGw5EWxD4-Uw1GrizfTFo_978Jx16E81cNKj/view?usp=sharing">#{@text['contract']}</a>)
    %li
      %a{href: "https://www.facebook.com/pages/Associaci%C3%B3-de-Quidditch-de-Catalunya/1550493941887586", target: "_blank"}<
        #{@text['catalonia']}
      (<a href="https://drive.google.com/file/d/0Byt-EL2w3uTZV3g5YzE1OGZVY2s/view?usp=sharing">#{@text['contract']}</a>)

  %p
    #{@text['a7p3']}
/8
%p
  %strong
    #{@text['q']}:
  %i
    #{@text['q8']}
  %br
  %strong
    #{@text['a']}:
  #{@text['a8']} 
  %a{href: '/logout'}<
    #{@text['logout']}
  #{@text['a8p2']}
  %a{href: 'mailto:david@relateiq.com'}<
    #{@text['webmaster']}
  #{@text['a8p3']}
/9
%p
  %strong
    #{@text['q']}:
  %i
    #{@text['q9']}
  %br
  %strong
    #{@text['a']}:
  #{@text['a9']}  

/10
%p
  %strong
    #{@text['q']}:
  %i
    #{@text['q10']}
  %br
  %strong
    #{@text['a']}:
  #{@text['a10']}

/11
%p
  %strong
    #{@text['q']}:
  %i
    #{@text['q11']}
  %br
  %strong
    #{@text['a']}:
  #{@text['a11']}
  %a{href: '/donate'}<
    #{@text['a11p2']}
  #{@text['a6p2']}
  