%p
  #{@text['purpose']}

%p
  #{@text['resources']}
%p
  #{@text['whenever']}
  %a{href: "#"}<
    UTC
  #{@text['click']}

%h2
  #{@text['latest']} (#{@text['asof']}
  #{settings.updated_at.strftime(settings.time_string)}
  #{local_time(settings.updated_at,'Refdevelopment.com+Updated')})
-# %p
-#   #{@text['our']}
-#   %a{href: "/release"}<
-#     #{@text['press']}
-#   #{@text['public']}
-# %h3
-#   #{@text['upcoming']}
-# .form_box.big
-#   .table-background
-#     %table
-#       %tr
-#         %td
-#           %i.fa.fa-check
-#         %td
-#           3#{@text['suffix_2']} #{@text['july']} 2014
-#         %td
-#           #{@text['release']} #{@text['confidence']}
-#       %tr
-#         %td
-#           %i.fa.fa-check
-#         %td
-#           5#{@text['suffix']} #{@text['july']} 2014
-#         %td
-#           #{@text['release']} #{@text['communication']}
-#       %tr
-#         %td
-#           %i.fa.fa-check
-#         %td
-#           7#{@text['suffix']} #{@text['july']} 2014
-#         %td
-#           #{@text['release']} #{@text['professionalism']}
-#       %tr
-#         %td
-#           %i.fa.fa-check
-#         %td
-#           9#{@text['suffix']} #{@text['july']} 2014
-#         %td
-#           #{@text['release']} #{@text['consistency']}
-#       %tr
-#         %td
-#           %i.fa.fa-check
-#         %td
-#           11#{@text['suffix']} #{@text['july']} 2014
-#         %td
-#           #{@text['release']} #{@text['health']}
-#       %tr
-#         %td
-#           %i.fa.fa-check
-#         %td
-#           16#{@text['suffix']} #{@text['july']} 2014
-#         %td
-#           #{@text['release']} #{@text['responsibilities']}
-#       %tr
-#         %td
-#           %i.fa.fa-check
-#         %td
-#           18#{@text['suffix']} #{@text['july']} 2014
-#         %td
-#           #{@text['tests']}
-#       %tr
-#         %td
-#           %i.fa.fa-check
-#         %td
-#           21#{@text['suffix']} #{@text['july']} 2014
-#         %td
-#           #{@text['beta']} #{@text['french']} #{@text['not_tests']}
-#       %tr
-#         %td
-#           %i.fa.fa-check
-#         %td
-#           #{@text['august']} 2014
-#         %td
-#           #{@text['beta']} #{@text['italian']} #{@text['not_tests']}
-#       %tr
-#         %td
-#           %i.fa.fa-check
-#         %td
-#           #{@text['august']} 2014
-#         %td
-#           #{@text['rtc']}
-#       %tr
-#         %td
-#           %i.fa.fa-check
-#         %td
-#           #{@text['september']} 2014
-#         %td
-#           #{@text['extra']}
%p
  IQA Rulebook 16-18 tests are available!
%h3
  #{@text['outages']}
%p
  #{@text['none']}

