%p
  #{@text['purpose']}

%p
  #{@text['resources']}
%p
  #{@text['whenever']}
  %a{href: "#"}<
    UTC
  #{@text['click']}

%h2
  #{@text['latest']} (#{@text['asof']}
  #{settings.updated_at.strftime(settings.time_string)} 
  #{local_time(settings.updated_at,'Refdevelopment.com+Updated')})
%p
  #{@text['our']}
  %a{href: "/release"}<
    #{@text['press']}
  #{@text['public']}
%h3
  #{@text['upcoming']}
.form_box.big
  .table-background
    %table
      %tr
        %td
          %i.fa.fa-check
        %td
          3rd July, 2014
        %td
          Release of the IRDP Confidence Guide
      %tr
        %td
          %i.fa.fa-check
        %td
          5th July, 2014
        %td
          Release of the IRDP Communication Guide
      %tr
        %td
          %i.fa.fa-check
        %td
          7th July, 2014
        %td
          Release of the IRDP Professionalism Guide
      %tr
        %td
          %i.fa.fa-check
        %td
          9th July, 2014
        %td
          Release of the IRDP Consistency Guide
      %tr
        %td
          %i.fa.fa-check
        %td
          11th July, 2014
        %td
          Release of the IRDP Health and Well-Being Guide
      %tr
        %td
          %i.fa.fa-check
        %td
          16th July, 2014
        %td
          Release of the IRDP Referee Match Responsibilities Guide
      %tr
        %td
          %i.fa.fa-check
        %td
          18th July, 2014
        %td
          All tests updated for USQ Rulebook 8
      %tr
        %td
          %i.fa.fa-check
        %td
          21st July, 2014
        %td
          Beta Release of the French Website (but not tests)!
      %tr
        %td
          %i.fa.fa-clock-o
        %td
          August, 2014
        %td
          Beta Release of the Italian Website (but not tests)!
      %tr
        %td
          %i.fa.fa-clock-o
        %td
          August, 2014
        %td
          Release of the Referee Training Coordinator training materials
      %tr
        %td
          %i.fa.fa-clock-o
        %td
          September, 2014
        %td
          Assistant and Snitch Referee Rating goes live
%h3
  Upcoming Site Outages
%p
  None planned!
  