%p
  #{@text['check']}
  %a{href: "/release"}<
    #{@text['pr']}
  #{@text['more']}

%p
  #{@text['got']}
  %a{href: "https://www.twitter.com/refdevelopment", target: "_blank"}<
    Twitter
  #{@text['annoucements']}

%p
  #{@text['check']}
  %a{href: "https://www.facebook.com/refdevelopment", target: "_blank"}<
    Facebook
  #{@text['page']}