.form_box
  %form{name: "login", action: "/login", method: "post"}
    %label{for: "Email"}
      Email
    %input#start{type: "email", name: "username", placeholder:"email"}

    %label{for: "Password:"}
      Password
    %input{type: "password", name: "password", placeholder: "password"}

    %input{name: "d", type: "hidden", value: "#{params[:d]}"}


    %input.button{type: "submit", value: "Login"}

%p
  #{@text['dont']}
  %a{href: '/create'}<
    #{@text['create']}
  #{@text['one']}.

%p
  #{@text['forgot']}
  %a{href: '/reset'}<
    #{@text['reset']}
  #{@text['it']}.

/ this doesn't matter, but I wanna be hip
:coffeescript
  $('#start').focus()