%img#prof_pic{src: "#{@url}", width: 300}

- if not session[:user]['profPic']
  %p
    %i.fa.fa-exclamation-circle.danger
    It looks like you haven't uploaded a profile pic yet! Do so on your 
    %a{href: "/settings"}<
      settings
    page.

%p
  %a{href: "/profile/#{session[:user]['objectId']}"}<
    This
  is your public 
  %strong
    profile.

%p
  %a{href: "/review/#{session[:user]['objectId']}"}<
    This
  is your 
  %strong
    personal review page.
  Feel free to bookmark it to your phone for easy access. You can also distrbute this
  %a{href: "/qr", target: "_blank"}<
    QR
  code that lets the scanner review you on their own device.
%p
  You've got the following quantities of reviews that left no comments:
  %br
  %table.mini.table-background
    - @counts.each do |gr, num|
      %tr
        %td
          = gr
        %td
          %strong
            = num
%p
  You've got 
  %strong
    #{@total} 
  review#{@total == 1 ? '' : 's'} with comments. 
  - if @total > 0
    #{@total == 1 ? "It's" : "They're"} listed below.
  - else
    %br
    %br
    %i.fa.fa-exclamation-circle.danger
    Encourage people to review you!

- if @total > 0
  %table.skinny#theTable
    %thead
      %tr
        %td
          Position
        %td
          Rating
        %td
          Comments
        
    %tbody


:javascript
  var reviews = #{@review_list};
  var odd = false;
  for (var i = 0; i < reviews.length; i++) {
    var r = [
      "<tr>",
        "<td>",reviews[i][2],"Referee</td>", //type
        "<td>",reviews[i][0],"</td>", //rating
        "<td>",reviews[i][1],"</td>", //comments
      "</tr>"
    ].join(' ');
    
    $("#theTable tbody").append(r);
  };

  $('#theTable').tablesorter({
    ignoreCase: true,
    widthFixed: false,
    widgets: ['stickyHeaders'],
  });
