%img#prof_pic{src: "#{@url}", width: 300}

- if not session[:user]['profPic']
  %p
    %i.fa.fa-exclamation-circle.danger
    #{@text['upload']}
    %a{href: "/settings"}<
      #{@text['settings']}
    #{@text['page']}.

%h3
  Links

%p
  %a{href: "/profile/#{session[:user]['objectId']}"}<
    #{@text['profile_page']}
%p
  %a{href: "/review/#{session[:user]['objectId']}"}<
    #{@text['review_page']}
%p
  %a{href: "/qr", target: "_blank"}<
    (QR)
  #{@text['code']}  

%h3
  Field Tests
%p
  - if @field_tests.size > 0
    %table.mini.table-background
      %thead
        %tr
          %td
            Date
          %td
            Tournament
      %tbody
        - @field_tests.each do |t|
          %tr
            %td
              #{t['tournamentDate']}
            %td
              #{t['tournament']}

  - elsif @user[:session]['headRef']
    You haven't 
    %a{href: "/field_test"}<
      signed up 
    for a field test yet!
  - else
    Become a certified 
    %a{href: "/testing"}<
      Head Referee
    to sign up for a field test.



%h3
  Reviews

%p
  #{@text['empty']}
  %br
  %table.mini.table-background
    %thead
      %tr
        %td
          Rating
        %td
          :plain
            #
    %tbody
      - @counts.each do |grade, num|
        %tr
          %td
            = @text[grade]
          %td
            %strong
              = num
%p
  #{@text['you']}
  %strong
    #{@total} 
  #{@text['review']}
  - if @total == 0
    %br
    %br
    %i.fa.fa-exclamation-circle.danger
    #{@text['encourage']}

- if @total > 0
  %table.skinny#theTable
    %thead
      %tr
        %td
          #{@text['position']}
        %td
          #{@text['rating']}
        %td
          #{@text['comments']}
        
    %tbody
      - @review_list.each do |r|
        %tr
          %td
            #{r['type']}
          %td
            #{r['rating']}
          %td
            #{r['comments']}



:javascript
  $('#theTable').tablesorter({
    ignoreCase: true,
    widthFixed: false,
    widgets: ['stickyHeaders'],
  });
