%img#prof_pic{src: "#{@url}", width: 300}

%h2
  #{@text['region']} #{reg_reverse(@ref['region'])}

%p
  %a{href: "mailto: #{@ref['username']}"}
    #{@text['email']} #{@ref['firstName']}

%p
  %a{href: "/review/#{@ref['objectId']}"}
    #{@text['review']} #{@ref['firstName']}