%img#prof_pic{src: "#{@url}", width: 300}

%p
  #{@text['region']}:
  %strong
    #{reg_reverse(@ref['region'])}

%p
  %a{href: "mailto: #{@ref['username']}"}
    #{@text['email']} #{@ref['firstName']}

%p
  %a{href: "/review/#{@ref['objectId']}"}
    #{@text['review']} #{@ref['firstName']}

- if logged_in? and session[:user]['headRef'] and @ref['objectId'] != session[:user]['objectId']
  - if not @star
    %p
      %a{href: "/star/#{@ref['objectId']}"}
        %span.fa-stack
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-star.fa-stack-1x.unstarred
        #{@text['star']} #{@ref['firstName']}
  - else 
    %p
      %a{href: "/star/#{@ref['objectId']}?pop=1"}
        %span.fa-stack
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-star.fa-stack-1x.starred
        un-#{@text['star']} #{@ref['firstName']}

%h3
  Certifications

.form_box.small
  .table-background
    %table
      %tr
        %td
          Assistant Referee
        %td
          - if @ref['assRef']
            %i.fa.fa-check
          - else
            %i.fa.fa-clock-o
      %tr
        %td
          Snitch Referee
        %td
          - if @ref['snitchRef']
            %i.fa.fa-check
          - else
            %i.fa.fa-clock-o
      %tr
        %td
          Head Referee Written
        %td
          - if @ref['headRef']
            %i.fa.fa-check
          - else
            %i.fa.fa-clock-o
      %tr
        %td
          Head Referee Field
        %td
          - if @ref['passedFieldTest']
            %i.fa.fa-check
          - else
            %i.fa.fa-clock-o