%h2
  #{@text['process']}
%p
  #{@text['order']}
%p
  #{@text['fails']}
%p
  #{@text['the']}
  %strong
    #{@text['assistant']}
  #{@text['refand']}
  %strong
    #{@text['snitch']}
  #{@text['independant']}
%p
  #{@text['the']}
  %strong
    #{@text['head']}
  #{@text['costs']}
%p
  #{@text['fail']}
%p
  #{@text['goes']}
  %a{href: "/pay"}<
    #{@text['payment']}
  #{@text['page']}.
%p
  #{@text['rb8']}
  
-# trianing materials
%h2
  #{@text['training']}

%h3
  #{@text['overview']}
%p
  #{@text['goal']}
%p
  #{@text['encouraged']}
%ul.bullets
  -# %li
    -# %a{href: "https://www.google.com/url?q=https%3A%2F%2Fdocs.google.com%2Fa%2Finternationalquidditch.org%2Fdocument%2Fd%2F1UDbK4w9UswZcnAUZQJRaK--EwzA6GA64qO7PXv1V0rg%2Fedit", target: "_blank"}<
      -# This
    -# is a copy of the Referee Training Packet.
  %li
    %a{href: "http://www.usquidditch.org/files/USQ_Rulebook_8.pdf", target: "_blank"}
      #{@text['here']}
    #{@text['rulebook8']}
  %li
    %a{href: "http://iqaquidditch.com/files/IQA_Rulebook_7_web.pdf", target: "_blank"}<
      #{@text['here']}
    #{@text['rulebook7']}
  %li
    %a{href: "http://iqaquidditch.com/about/rules/rulebook-faq/", target: "_blank"}<
      #{@text['here']}
    #{@text['collection']}

%h3
  #{@text['scorekeeper']}
%p
  #{@text['often']}
%ul.bullets
  %li
    %a{href: "/files/IRDPScorekeeperGuide.pdf", target: "_blank"}<
      #{@text['scorekeeper_guide']}
  %li
    %a{href: "/files/IRDPGoalRefereeGuide.pdf", target: "_blank"}<
      #{@text['goal_ref_guide']}
%p
  #{@text['refresher']}

%p
  #{@text['feel']}
%ul.bullets
  %li
    %a{href: 'http://www.classmarker.com/online-test/start/?quiz=93j53abaa3d0488d', target: '_blank'}<
      #{@text['scorekeeper_quiz']}
  %li
    %a{href: 'http://www.classmarker.com/online-test/start/?quiz=kv953ababfe78423', target: '_blank'}<
      #{@text['gr_guide']}

%h3
  #{@text['pillars']}
%p
  #{@text['formed']}
- if paid?
  %p
    %span.fa-stack
      %i.fa.fa-circle.fa-stack-2x.go
      %i.fa.fa-exclamation-triangle.fa-stack-1x.warning
    #{@text['members']}
  %ul.bullets
    %li
      %a{href: "/files/IRDPRefereePositioningGuide.pdf", target: '_blank'}<
        #{@text['positioning']} #{@text['guide']}
    %li
      %a{href: "/files/IRDPConfidenceGuide.pdf", target: '_blank'}<
        #{@text['confidence']} #{@text['guide']}
    %li
      %a{href: "/files/IRDPCommunicationGuide.pdf", target: '_blank'}<
        #{@text['communication']} #{@text['guide']}
    %li
      %a{href: "/files/IRDPProfessionalismGuide.pdf", target: '_blank'}<
        #{@text['professionalism']} #{@text['guide']}
    %li
      %a{href: "/files/IRDPConsistencyGuide.pdf", target: '_blank'}<
        #{@text['consistency']} #{@text['guide']}
- else
  %ul.bullets
    %li
      %a{href: "/files/IRDPRefereePositioningGuide.pdf", target: '_blank'}<
        #{@text['positioning']}
        #{@text['guide']}
  #{display({path: :help, layout: :f, old: :f})}

%h3
  #{@text['field']}
%p
  #{@text['got']}

%ul.bullets
  %li
    %a{href: '/files/IRDPHealthandWellnessGuide.pdf', target: '_blank'}<
      #{@text['health']} #{@text['guide']}
  %li
    %a{href: 'https://docs.google.com/file/d/0Bzr87uCsNgTzRmY4WGMwOUt2S2s/edit', target: '_blank'}<
      #{@text['pitch']}
    #{@text['allie']}

  -if paid?
    %li
      %a{href: '/files/IRDPRefereeGameResponsibilitiesGuide.pdf', target: '_blank'}<
        #{@text['match']} #{@text['guide']}
    %li
      %a{href: '/files/IRDPFieldTestRubric.pdf', target: '_blank'}<
        #{@text['rubric']}
    %li
      %a{href: '/files/RefereeTrainingCoordinatorsTrainingGuide.pdf'}
        #{@text['rtc']}
    

  - else
    #{display({path: :help_small, layout: :f, old: :f})}

