%p
  #{@text['intro']}
%p
  #{@text['remember']}
  %a{href: "https://docs.google.com/document/d/1ybhTrPbk_H4QqekrrWHgiDBRIlqzLlx2P5Ir43Nt774", target: "_blank"}<
    #{@text['code']}
  #{@text['therein']}
  %i
    #{@text['hint']}
  #{@text['comfortable']}
  %a{href: '/testing'}<
    #{@text['training']}
  #{@text['before']}
%p
  #{@text['also']}
  %span{style: "color: red; font-weight: bold;"}
    #{@text['important']}
  #{@text['click']}
  %span{style: "text-decoration: underline; background-color: orange;"}<
    #{@text['return']}
  #{@text['confirm']}
%p
  #{@text['if']}
  <a href="mailto:david@relateiq.com">#{@text['me']}</a>. 
  #{@text['confirmation']}
%hr
- if paid?
  %p
    - if session[:user][params[:which]+"Ref"]
      #{@text['already']}
      - if @lang == "EN"
        #{@layout[params[:which]]}
        #{@layout['ref_test']}
      - else
        #{@layout['ref_test']}
        #{@layout[params[:which]]}
      #{@layout['congrats']}!
    - else
      - if not @prereqs_passed
        #{@text['either']}
      - elsif not @attempts_remaining
        #{@text['none_left']}
        %br
        %br
        #{@text['applicable']}
        #{email_link({text: @text['contact']})}
        %br
        %br
        #{@text['hope']}
        .paypal
          #{paypal_button}        
      - elsif @good and @attempts_remaining
        - if params[:which] == 'head'
          You've got 
          #{session[:user]['hrWrittenAttemptsRemaining']} 
          HR attempts left.
          %br
          %br
        #{@text['rulebook']}
        %strong
          #{@rb.to_s}
        %br
        %br
        #{@text['here']}
        %a{href: "http://www.classmarker.com/online-test/start/?quiz=#{@tests[params[:which].to_sym]}&cm_return_test_type=#{params[:which].to_sym}&cm_user_id=#{session[:user]['objectId']}"}<
          - if @lang == "EN"
            #{@layout[params[:which]]}
            #{@layout['ref_test']}
          - else
            #{@layout['ref_test']}
            #{@layout[params[:which]]}
      - else
        #{@text['long']}
        %br
        %br
        #{@text['attempted']}
        - if @lang == "EN"
          #{@layout[params[:which]]}
          #{@layout['ref_test']}
        - else
          #{@layout['ref_test']}
          #{@layout[params[:which]]}
        #{@text['at']}
        #{@t2.strftime(settings.time_string)}
        #{local_time(@try_unlocked,"Last+#{settings.test_names[params[:which]]}+Referee+Test+Attempt")}
        %br
        %br
        #{@text['give']}
        #{@try_unlocked.strftime(settings.time_string)}
        #{local_time(@try_unlocked,"#{settings.test_names[params[:which]]}+Referee+Test+Unlocks")}
- else
  #{display({path: :help, layout: :f, old: :f, alt: :t})}
        
      
