%img#prof_pic{src: "#{@url}", width: 300}

- if not session[:user]['profPic']
  %p
    %i.fa.fa-exclamation-circle.danger
    It looks like you haven't uploaded a profile pic yet! Do so on your 
    %a{href: "/settings"}<
      settings
    page.

%p
  %a{href: "/profile/#{session[:user]['objectId']}"}<
    Ceci
  est votre
  %strong
    profil public.

%p
  %a{href: "/review/#{session[:user]['objectId']}"}<
    Ceci
  est votre
  %strong
    page de critiques individuelle.
  Pour un accès facile, n'hésitez pas à distribuer ce code
  %a{href: "/qr", target: "_blank"}<
    QR
  qui permet quelqu'un de vous donner leur avis de leur propre appareil.
%p
  Vous avez les critiques suivants sans commentaires:
  %br
  / NEED TO TRANSLATE THESE
  %table.mini.table-background
    - @counts.each do |gr, num|
      %tr
        %td
          = gr
        %td
          %strong
            = num
%p
  Vous avez
  %strong
    #{@total} 
  critiques#{@total == 1 ? '' : 's'} avec les commentaires.
  - if @total > 0
    #{@total == 1 ? "It's" : "They're"} listed below.
  - else
    %br
    %br
    %i.fa.fa-exclamation-circle.danger
    Encouragez les autres à vous critiquer !

- if @total > 0
  %table.skinny#theTable
    %thead
      %tr
        %td
          Position
        %td
          Rating
        %td
          Comments
        
    %tbody


:javascript
  var reviews = #{@review_list};
  var odd = false;
  for (var i = 0; i < reviews.length; i++) {
    var r = [
      "<tr>",
        "<td>",reviews[i][2],"Referee</td>", //type
        "<td>",reviews[i][0],"</td>", //rating
        "<td>",reviews[i][1],"</td>", //comments
      "</tr>"
    ].join(' ');
    
    $("#theTable tbody").append(r);
  };

  $('#theTable').tablesorter({
    ignoreCase: true,
    widthFixed: false,
    widgets: ['stickyHeaders'],
  });
