%p
  - if logged_in?
    - if @good
      Hey, take the 
      %a{href: "http://www.classmarker.com/online-test/start/?quiz=xnj533d065451038&cm_return_test_type=#{params[:which]}&cm_user_id=#{session[:user]['objectId']}"}<
        sample
      test!
    - else
      Looks like it hasn't been long enough since your last try! 
      %br
      Give it another go at #{@try_unlocked}.
      %br
      Now: #{@t1}.
      %br
      Then: #{@t2}
  - else
    Log in to see testing status!

:javascript
  // $('#the_title').text("French Index haw haw haw");
  // var q = {
  //   "ass":[
  //     "What is this game called?",
  //     "polo",
  //     "quidditch",
  //     "how I met your mother"
  //   ],
  //   "head":[
  //     "Who's the most important?",
  //     "Santa",
  //     "you",
  //     "we're all equally important"
  //   ],
  //   "snitch":[
  //     "What color is the snitch?",
  //     "Blue",
  //     "Yellow",
  //     "Green"
  //   ]
  // };

  // $('.question').text(q['#{@type}'][0]);
  // $('#a1').text(q['#{@type}'][1]);
  // $('#a2').text(q['#{@type}'][2]);
  // $('#a3').text(q['#{@type}'][3]);

  // $('#submit').click(function(){
  //   var a = $('#q2').is(":checked");
  //   window.location.href = '/grade?test=#{@type}&pass='+a;
  // });






