!!!
%head
  -# %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
  %title
    #{@title}
  /css
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/theme.default.css'}

  %link{:rel => 'stylesheet', :type => 'text/css', :href => '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/theme.default.css'}

  / js
  %script{src: "//code.jquery.com/jquery-1.10.2.min.js", type:"text/javascript"}
  %script{src: "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js", type:"text/javascript"}

  %script{src: "/js/tablesorter.min.js", type:"text/javascript"}
  %script{src: "/js/tablesorter.widgets.min.js", type:"text/javascript"}

 
  

  / favicon
  %link{:rel => 'shortcut icon', :type => 'image/png', :href => '/images/favicon.png'}

.content
  .top
    .topbar
      %ul#menu
        %li.no-kids#index
          %a{href: '/'}
            IRDP 
        %li
          |
        %li.kids#info
          %a{href: '/info'}<
            Information
          %ul.sub-menu
            %li
              %a{href: '/about'}
                About
            -# %li
            -#   %a{href: '/leagues'}
            -#     Affiliate Leagues
            %li
              %a{href: '/faq'}
                FAQ
            %li
              %a{href: '/contact'}
                Contact
            
        %li
          |
        %li.no-kids#search
          %a{href: '/search/ALL'}
            Referee Directory
        %li
          |
        %li.no-kids#review
          %a{href: '/review'}
            Review a Referee
        %li
          |
        %li.kids#testing
          %a{href: '/testing'}
            Testing Center
          %ul.sub-menu
            %li
              %a{href: '/testing'}
                Training Materials
            %li
              %a{href: "/testing/ass"}
                Assistant Ref Test
            %li
              %a{href: "/testing/snitch"}
                Snitch Ref Test
            %li
              %a{href: "/testing/head"}
                Head Ref Test
        
          
        
        %li.right
          | #{logged_in? ? name_maker(session[:user]) : 'Not Signed In'}
          -# show email
          -# #{logged_in? ? "(#{session[:user]['username']})" : ''}
        
        - if logged_in?
          - if admin?
            %li.right.icon
              %a{href: '/admin'}<
                %i.fa.fa-gavel.fa-lg{title: "Admin Console"}

          %li.right.icon
            %a{href: '/settings'}<
              %i.fa.fa-cog.fa-lg#settings{title: "Settings Console"}

          %li.right.icon
            %a{href: '/profile'}<
              %i.fa.fa-user.fa-lg{title: "Profile Console"}

    .header
      %p
        - if logged_in?
          %a{href: '/logout'}
            Logout
            %i.fa.fa-sign-out.fa-lg
            
        - else
          %a{href: '/login'}<
            Login
          or
          %a{href: '/create'}
            Create Account
        

  .mid
    /[if lt IE 10]
      %p
        We detect you're using an 
        %strong
          outdated
        browser. Please
        %a{href:"http://browsehappy.com/"}
          upgrade your browser
        as the one you are using isn't supported (and causes errors) on our site. If you're curious, we follow Google's
        %a{href: "https://support.google.com/a/answer/33864?hl=en", target: "_blank"}<
          browser support
        timeline.
    
    %h1#the_title
      #{@title || 'Missing Title'}

    .issue
      %h3
        =flash[:issue]

    #{yield}

  .bot
    %p
      %a{href: "http://davidbrownman.com", target: "_blank"}<
        David Brownman
      made this site. 
      /The code is available
      /%a{href: "https://github.com/Xavdidtheshadow/refbook", target: "_blank"}<
      /  here
      /if you're into that sort of thing.
      Read more about the features in
      %a{href: "http://davidbrownman.com/refbook", target: "_blank"}<
        here
      in this handy readme!
      &copy; 2014 IRDP, all rights reserved.
      %a{href: "/contact"}<
        Contact
      us!


:javascript
  $('##{@section}').addClass('active');
