%img#prof_pic{src: "#{@url}", width: 300}

- if not session[:user]['profPic']
  %p
    %i.fa.fa-exclamation-circle.danger
    It looks like you haven't uploaded a profile pic yet! Do so on your 
    %a{href: "/settings"}<
      settings
    page.

%p
  %a{href: "/profile/#{session[:user]['objectId']}"}<
    This
  is your public 
  %strong
    profile.

%p
  %a{href: "/qr", target: "_blank"}<
    This
  is your 
  %strong
    QR code 
  that directs people to your personal review page. Feel free to save it to your phone for easy access. You can also bookmark 
  %a{href: "/review/#{session[:user]['objectId']}"}<
    that page 
  if you want to share it digitally.

%p
  You've got 
  %strong
    #{@total} 
  review#{@total == 1 ? '' : 's'}. 
  - if @total > 0
    #{@total == 1 ? "It's" : "They're"} listed below.
  - else
    %br
    %br
    %i.fa.fa-exclamation-circle.danger
    Encourage people to review you!

- if @total > 0
  %table.skinny#theTable
    %thead
      %tr
        %td
          Rating
        %td
          Comments
        
    %tbody


:javascript
  var reviews = #{@review_list};
  var odd = false;
  for (var i = 0; i < reviews.length; i++) {
    var r = [
      "<tr class=\"",(odd) ? "odd" : "even","\">",
      "<td>",reviews[i][0],"</td>", //rating
      "<td>",reviews[i][1],"</td>", //comments
    ].join(' ');
      
      r += "</tr>";
    odd = !odd;  
    $("#theTable tbody").append(r);
  };

  $('.small').hide();

  $('.more').click(function(){
    $('.small').show();
  });

  $('.less').click(function(){
    $('.small').hide();
  });

