
%p
  %a{href: "/profile/#{session[:user]['objectId']}"}<
    This
  is your public profile.

%p
  You've got #{@total} review#{@total == 1 ? '' : 's'}. 
  - if @total > 0
    #{@total == 1 ? "It's" : "They're"} listed below.
  - else
    Encourage people to review you!

%img#prof_pic{src: "#{session[:user]['profPic']['url']}", height: 300}
-# DON'T LET THEM SUBMIT EMPTY IMAGES
.form_box
  %form{method: "post", enctype: "multipart/form-data", action: "upload"}
    %input{type: "file", name: "myfile"}   
    %br
    %input{type:'submit', value:'Upload!'}


%table.skinny#theTable
  %thead
    %tr
      %td
        Rating
      %td
        Comments
      
  %tbody


:javascript
  var reviews = #{@review_list};
  var odd = false;
  for (var i = 0; i < reviews.length; i++) {
    var r = [
      "<tr class=\"",(odd) ? "odd" : "even","\">",
      "<td>",reviews[i][0],"</td>", //rating
      "<td>",reviews[i][1],"</td>", //comments
    ].join(' ');
      
      r += "</tr>";
    odd = !odd;  
    $("#theTable tbody").append(r);
  };

  $('.small').hide();

  $('.more').click(function(){
    $('.small').show();
  });

  $('.less').click(function(){
    $('.small').hide();
  });

