-# - if not @ref.nil?
  -# %img#prof_pic{src: "#{@url}", width: 300}

%p
  Here you can provide feedback for any referee that has been IRDP certified at any level. Please keep reviews as specific and calm as possible. All data is anonymous to the reviewee.

%p
  %span.danger
    * Required

.form_box
  %form{name: "review", action: "/review", method: "post", onsubmit: "return validate();", id: "rater"}
    %label{for: "name"}
      Your Name
      %span.danger
        *

    %input{type: "text", name: "name", placeholder:"first and last"}

    %label{for: "email"}
      Your Email
      %span.danger
        *
    %input{type: "email", name: "email", placeholder:"name@example.com"}

    %label{for: "captain"}
      I am my team's captain
    %input{type: "checkbox", name: "captain", id: "captain", form: "rater"}
    - if @ref.nil?
      %label{for: "region"}
        Referees's Region
        %span.danger
          *
      %select{name: "region", id: "region"}

      %label{for: "referee"}
        Referees's Name
      %select{name: "referee", id: "referee"}
    - else
      %input{type: "hidden", name: "region", value: "#{@ref['region']}"}
      %input{type: "hidden", name: "referee", value: "#{@ref['objectId']}"}

    %label{for: "type"}
      Referee's Position
      %span.danger
        *
    %select{name: "type", id: "type"}
      %option{value: ""}
      
      %option{value: "head"}
        Head Referee
      %option{value: "snitch"}
        Snitch Referee
      %option{value: "ass"}
        Assistant Referee


    %label{for: "date"}
      Date of Game
    %input{type: "text", name: "date", placeholder: "6 Dec, 2014"}

    %label{for: "team"}
      Your Team's Name
    %input{type: "text", name: "team"}

    %label{for: "opponent"}
      Opponent Team's Name
    %input{type: "text", name: "opponent"}

    %label{for: "rating"}
      How did #{@ref.nil? ? 'the referee' : "#{@ref['firstName']}"} do?
      %span.danger
        *
    %select{name: "rating", id: "rating"}
      %option{value: ""}

      %option{value: "excellent"}
        Excellent!
      %option{value: "good"}
        Good
      %option{value: "average"}
        Average
      %option{value: "poor"}
        Poor

    %label{for: "comments", style: "font-size: 12px;"}
      Have any specific comments about the referee? Especially pertaining to positioning, professionalism, confidence, consistency, and communication.
    %textarea{form: "rater", cols: 37, rows: 9, name: "comments"}

    %input.button{type: "submit", value: "Submit Review"}

.issue
  %h3
    =flash[:issue]


:javascript
  var region_keys = #{@region_keys};
  var refs = #{@refs};

  $("#region").append(generateBlank());
  for (var i = 0; i < region_keys.length; i++) {
    var el = document.createElement("option");
    el.textContent = region_keys[i];
    el.value = region_keys[i];
    $("#region").append(el);
  };

  // fills the dropdown with refs from that region
  $("#region").change(function(){
    $("#referee").empty();
    $("#referee").append(generateBlank());
    $("#referee").append("<option value=\"Sb33WyBziN\">Unnamed Ref</option>")
    for (var i = 0; i < refs[$("#region").val()].length; i++) {
      var el = document.createElement("option");
      el.textContent = refs[$("#region").val()][i][1];
      el.value = refs[$("#region").val()][i][0];
      $("#referee").append(el);
    };
  });

  function generateBlank(){
    var el = document.createElement("option");
    el.textContent = "";
    el.value = "";
    return el;
  };

  function validate() {
    // NEED TO ADD ALL FUTURE FORM ENTRIES TO THIS
    var f = $("form")[0];
    var filled = true;

    var n = f["name"].value;
    var e = f["email"].value;
    var r = f["region"].value;
    var ra = f["rating"].value;
    var ty = f["type"].value;

    var fields = [n, e, r, ra, ty];

    fields.forEach(function(field){
      if (field == null || field == "") {
        filled = false;
      }
    });

    // checking forms are full, passwords match, and checkbox is checked

    if (!filled) {
      $(".issue").text("Required field is missing");
      return false;
    }

    else {
      return true;
    }    

  }

