%p
  This table acts as a directory of IRDP referees who have been certified at any level. If you haven't yet passed any tests, you won't show up, so go
  %a{href: '/testing'}<
    get certified!

%hr

%ul.regions#regions
- if @refs.length > 0
  %ul.regions
    %li
      %a.all.active{href: '#'}<
        Show All IRDP Certified Refs
    %li
      |
    %li
      %a.head{href: '#'}<
        Show Only IRDP Certified Head Refs

  .table_box
    %table#theTable
      %thead
        %tr
          %td{title: "Profile Link"}
            First Name
          %td
            Last Name
          %td
            Team
          %td{title: "Assistant Ref Certified"}
            AR
          %td{title: "Snitch Ref Certified"}
            SR
          %td{title: "Head Ref Certified"}
            HR
          - if @reg == 'ALL'
            %td
              Region
          %td{title: "Passed Field Test"}
            FT
      %tbody
- else
  %p
    Womp womp, this region has no certified refs yet!

:javascript
  var refs = #{@refs};
  var region_keys = #{@region_keys};
  var region_values = #{@region_values};
  var odd = false;
  $("#theTable tbody").empty();

  // fill region list
  $('#regions').append("<li><a id=\"ALL\" href=\"/search/ALL\">All Regions</a></li>");
  for (var i = 0; i < region_keys.length; i++) {
    var s = "<li> | </li>";
    $("#regions").append(s);
    s = [
      "<li><a id=\""+region_values[i]+"\" href=\"/search/"+region_values[i],"\">",
      region_keys[i]+"</a></li>"
    ].join(' ');
    $("#regions").append(s);
  };

  $("##{@reg}").addClass("active");

  // fill ref table
  for (var i = 0; i < refs.length; i++) {
    var r = [
      "<tr class=\"",refs[i][6],"\">",
      "<td><a href=\"/profile/"+refs[i][8]+"\">",refs[i][0],"</a></td>",
      "<td>",refs[i][1],"</td>",
      "<td>",refs[i][2],"</td>",
      "<td>",refs[i][4],"</td>", //ar
      "<td>",refs[i][5],"</td>", //sr
      "<td>",refs[i][6],"</td>", //hr
      ].join(' ');
      if (#{@reg == 'ALL'}) {
        r += ["<td>",refs[i][7],"</td>"].join(' ');
      };

      if (refs[i][9] == "N") {
        if (#{admin?}) {
          r += [
                "<td>",
                "<div class=\"field_test\">",
                "<a href=\"/field/"+refs[i][8]+"?reg=#{@reg}\" onclick=\"return confirm('"+refs[i][0]+" "+refs[i][1]+" passed their field test?')\">",
                "Passed Field Test",
                "</a></div></td>"
              ].join(' ');
        }
        else {
          r += ["<td>",refs[i][9],"</td>"].join(' ');
        }
      }
      else {
        r += ["<td>",refs[i][9],"</td>"].join(' ');
      };

      r += "</tr>";
    odd = !odd;  
    $("#theTable tbody").append(r);
  };
  
  // click handlers
  $('.all').click(function(){
    togthat();
    $('.N').show();
  });
  $('.head').click(function(){
    togthat();
    $('.N').hide();
  // could do something to update colored rows every time (update())
  });
  function togthat(){
    $('.all').toggleClass('active');
    $('.head').toggleClass('active');
  }

  $('#theTable').tablesorter({
    ignoreCase: true,
    widthFixed: false,
    widgets: ['stickyHeaders'],
    sortList: [[1,0]]
  });

