- if not paid?
  %p
    You're an unpaid member! Do you have a registration code that you got from your regional director or officials manager? If so, enter it here to upgrade.
  .form_box
    %form{name: "validate", action: "validate", method: "get"}
      %label{for: "code"}
        Registration Code
      %input{type: "text", name: "code", placeholder: "XXXX-XX-XXX-XXXXXXX", id: "code"}
      %input.button{type: "submit", value: "Register!"}
- if session[:user]['region'] == 'AUST'
  %p
    Australians! Because you're in the middle of your season, you've got the special (temporary) opportunity to mark yourself as having passed your tests. 
    %b
      NOTE
    only check these boxes if you've actually passed the corresponding test. Falsifying information will result in penalties and a possible ban from IRDP certificaiton.
  .form_box
    %form{name: 'tests', action: 'settings', method: 'post'}
      %label{for: "ar"}
        Certified Assistant Referee
      %input{type: "checkbox", name: "ar", id: "ar"}

      %label{for: "sr"} 
        Certified Snitch Referee
      %input{type: "checkbox", name: "sr", id: "sr"}

      %label{for: "hr"}
        Passed Head Referee Written Teset
      %input{type: "checkbox", name: "hr", id: "hr"}

      %label{for: "ft"}
        Passed Head Referee Field Test
      %input{type: "checkbox", name: "ft", id: "ft"}
      %input{type: "hidden", name:"tests", value: "yep"}
      
      %input.button{type: "submit", value: "Save Tests"}


%p
  You can update your email (at which teams/TD's will contact you) here. If you need to change your region/team affiliation, contact
  %a{href: "mailto: david@relateiq.com"}<
    David Brownman
  with all necessary information.

.form_box
  %form{name: "settings", action: "settings", method: "post"}
    %label{for: "email"}
      Email
    %input{type: "email", name: "username", placeholder:"email", id: "email"}

    -# %label{for: "lang"}
      -# Language
    -# %select{name: "lang", id: "lang"}
    -#   / these langauges are hardcoded, so update when you add a new lang
    -#   %option{value: "EN"}
    -#     English
    -#   %option{value: "FR"}
    -#     Français

    %input.button{type: "submit", value: "Update User"}

%p
  Below you can upload a profile picture. Aim for something mostly square and larger than 300px wide. You can use 
  %a{href: "http://www.picresize.com", target: "_blank"}<
    this
  site to easily crop and edit your photo. Make sure it's a solo picture of you where your face is clear and un-obstructed, preferably just of the shoulders and up.

.form_box
  %form{id: "profPic", method: "post", enctype: "multipart/form-data", action: "upload", onsubmit: "return validate();"}
    %label{for: "myfile"}
      Image (max file size 5MB)
    %input{type: "file", name: "myfile", id: "fileBox"}   
    %br
    %input{type:'submit', value:'Upload!'}


%p
  %a{href: '/reset'}<
    Reset
  your password.

:javascript

  $('#email').val("#{session[:user]['username']}");
  $('#lang').val("#{session[:user]['lang']}");

  $('#ar').prop('checked',#{session[:user]['assRef'] ? 'true' : 'false' });
  $('#sr').prop('checked',#{session[:user]['snitchRef'] ? 'true' : 'false' });
  $('#hr').prop('checked',#{session[:user]['headRef'] ? 'true' : 'false' });
  $('#ft').prop('checked',#{session[:user]['passedFieldTest'] ? 'true' : 'false' });

  function validate(){
    var f = $("#fileBox")[0].files[0];
    if (f) {
      return true;
    }
    else {
      $(".issue").text("Must select a file");
      return false;
    }
    // var filled = true;

    // var e = f["username"].value;
    // var p = f["password"].value;
    // var p2 = f["pw2"].value;
    // return true;
  };

