%p
  This page will show a link to the appropriate test if it's been long enough since your last attempt (and you're qualified). Otherwise, it'll tell you when this test will be available. 

%p
  - if session[:user][params[:which]+"Ref"]
    You've already passed the #{@names[params[:which].to_sym]} ref test. Congrats!
  - else
    - if params[:which] == "head"
      - if @attempts_remaining
        LINK
      - else
        You haven't purchased any HR attempts (or are out). Buy some!
        #{paypal_button}
    - elsif @good
      Here's the link to the 
      %a{href: "http://www.classmarker.com/online-test/start/?quiz=#{@tests[params[:which].to_sym]}&cm_return_test_type=#{params[:which].to_sym}&cm_user_id=#{session[:user]['objectId']}"}<
        #{@names[params[:which].to_sym]}
      test!
    - else
      Looks like it hasn't been long enough since your last try! 
      %br
      %br
      Give it another go at #{@try_unlocked.strftime("%b %e,%l:%M %p")} UTC
      %a{href: "http://www.timeanddate.com/worldclock/fixedtime.html?msg=#{@names[params[:which].to_sym]}+Ref+Test+Available&iso=#{@try_unlocked.strftime('%Y%m%dT%H%M')}&p1=784", target: "_blank"}<
        (view in local time zone)
        
      
