%p
  This page will show a link to the appropriate test if it's been long enough since your last attempt (and you're qualified/paid). Otherwise, it'll tell you when this test will be available. 
%hr
- if paid?
  %p
    - if session[:user][params[:which]+"Ref"]
      You've already passed the #{@names[params[:which].to_sym]} referee test. Congrats!
    - else
      - if params[:which] == "head"
        - if @attempts_remaining
          LINK
        - else
          You have 0 HR Written Attempts Remaining. 
          %br
          %br
          This purchase entitles you to be field tested WHERE APPLICABLE. Because this requires travel by our hardworking RDT members, field testing is not always an option based on your location (or may take a long time). If you're not sure that you live in a place where a field test is possible, don't hesitate to 
          #{email_link({text: 'contact us!'})}
          %br
          %br
          You're welcome to take the HR written tests even if there's no hope for a field test this year, just note that you won't be a fully certified IRDP Head Referee until you pass a field test given by an authorized proctor.
          .paypal
            #{paypal_button}
      - elsif @good
        Here's the link to the 
        %a{href: "http://www.classmarker.com/online-test/start/?quiz=#{@tests[params[:which].to_sym]}&cm_return_test_type=#{params[:which].to_sym}&cm_user_id=#{session[:user]['objectId']}"}<
          #{@names[params[:which].to_sym]}
        test!
      - else
        Looks like it hasn't been long enough since your last try! You last attempted the #{@names[params[:which].to_sym]} referee test at #{@t2.strftime(settings.time_string)}
        %br
        %br
        Give it another go at #{@try_unlocked.strftime(settings.time_string)}
        #{local_time(@try_unlocked,'Refdevelopment.com+Updated')}
- else
  #{display(:help,false)}
        
      
