%p
  This page will show a link to the appropriate test if it's been long enough since your last attempt (and you're qualified/paid). Otherwise, it'll tell you when this test will be available. 
%p
  Remember that upon creation of an account, you agreed to the
  %a{href: "https://docs.google.com/document/d/1ybhTrPbk_H4QqekrrWHgiDBRIlqzLlx2P5Ir43Nt774", target: "_blank"}<
    Ref's Code
  and all articles therein. 
  %i
    Hint, hint:
  be comfortable and familiar with our awesome
  %a{href: '/testing'}<
    training
  materials before attempting any written tests. We certify only the best, so these tests aren't easy.
%p
  It's also
  %span{style: "color: red; font-weight: bold;"}
    incredibly important
  that you click the orange
  %span{style: "text-decoration: underline; background-color: orange;"}<
    "return to refdevelopment.com"
  at the end of the test and see confirmation back on this site or else your results will not be recorded in our system. You should also get an immediate confirmation email from us. Good luck!
%hr
- if paid?
  %p
    - if session[:user][params[:which]+"Ref"]
      You've already passed the #{settings.test_names[params[:which].to_sym]} Referee test. Congrats!
    - else
      - if not @prereqs_passed
        It looks like you haven't passed either the assistant referee or the snitch referee tests! You need to pass both of them before you can attempt he head referee test.
      - elsif not @attempts_remaining
        You have 0 HR Written Attempts Remaining. 
        %br
        %br
        This purchase entitles you to be field tested WHERE APPLICABLE. Because this requires travel by our hardworking RDT members, field testing is not always an option based on your location (or may take a long time). If you're not sure that you live in a place where a field test is possible, don't hesitate to 
        #{email_link({text: 'contact us!'})}
        %br
        %br
        You're welcome to take the HR written tests even if there's no hope for a field test this year, just note that you won't be a fully certified IRDP Head Referee until you pass a field test given by an authorized proctor.
        .paypal
          #{paypal_button}        
      - elsif @good and @attempts_remaining
        - if params[:which] == 'head'
          You've got #{session[:user]['hrWrittenAttemptsRemaining']} HR attempts left.
          %br
          %br
        This test is for Rulebook 
        %strong
          #{@rb}
        %br
        %br
        Here's the link to the 
        %a{href: "http://www.classmarker.com/online-test/start/?quiz=#{@tests[params[:which].to_sym]}&cm_return_test_type=#{params[:which].to_sym}&cm_user_id=#{session[:user]['objectId']}"}<
          #{settings.test_names[params[:which].to_sym]} Referee
        test!
      - else
        Looks like it hasn't been long enough since your last try! 
        %br
        %br
        You last attempted the #{settings.test_names[params[:which].to_sym]} referee test at #{@t2.strftime(settings.time_string)}
        #{local_time(@try_unlocked,"Last+#{settings.test_names[params[:which]]}+Referee+Test+Attempt")}
        %br
        %br
        Give it another go at #{@try_unlocked.strftime(settings.time_string)}
        #{local_time(@try_unlocked,"#{settings.test_names[params[:which]]}+Referee+Test+Unlocks")}
- else
  #{display(:help,false)}
        
      
